
// Color system -----------------------------------------
$black:           #000000;
$white:	          #FFFFFF;
$gray:	          #EEEEEE;
$blue:	          #26C6DA;
$blue-dark:       #3474AA;
$blue-darker:     #3F5693;
$red:	          	#EF5350;
$green:	          #BADA55;
$orange:          #FFA726;

$gray-100:        #F5F5F5;
$gray-200:        #E9E9E9;
$gray-300:        #DDDDDD;
$gray-400:        #B2B2B2;
$gray-500:        #888888;
$gray-600:        #666666;
$gray-700:        #424242;
$gray-800:        #333333;
$gray-900:        #212121;
$gray-1000:       #101010;

$black-transparent-light:     rgba($black, 0.35);
$black-transparent:           rgba($black, 0.65);
$black-transparent-dark:      rgba($black, 0.85);

// Color settings for elements ------------------------------------------------------------------

$login-page-background:       url('../images/login-page/blur-bg.jpg');
$loading-page-background:     url('../images/login-page/blur-bg.jpg');
$mainpage-background:         url('../images/material/2.jpg');
$player-card-background:      linear-gradient(to top, #17222c, #182836, #182e41, #18344c, #183a57);
$modals-background:						linear-gradient(to right bottom, #17222c, #182836, #182e41, #18344c, #183a57);

$accent-color:        				$green;
$secondary-color:        			$blue-dark;
$border-color: 								rgba($white, 0.10);
$text-color:               		$gray-300;
$text-color-darker:						$gray-600;
$cards-shadow-color:        	rgba($black, 0.25);
$cards-heading-color:					$white;

$inputs-background: 					rgba($black, 0.45);
$cards-background:        		rgba($black, 0.35);
$icon-hover-background:       rgba(darken($gray, 25%), 0.375);

// Fonts system ---------------------------------------------------------------------------------
$font-family-primary:        'Source Sans Pro', sans-serif;
$font-family-secondary:      'Rokkitt', sans-serif;
$font-family-thin:           'Open Sans Condensed', sans-serif;

$font-size-xs:               0.750rem;
$font-size-sm:               0.875rem;
$font-size-md:               1.00rem;
$font-size-lg:               1.25rem;
$font-size-xl:               1.50rem;
$font-size-xxl:              1.75rem;
$font-size-hd:               2.00rem;

// Grid breakpoints ----------------------------------
$grid-xs:   0;
$grid-sm:   576px;
$grid-md:   768px;
$grid-lg:   992px;
$grid-xl:   1200px;
$grid-xxl:  1400px;
$grid-hd:   1600px;
